  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .DropdownMenuContent {
    background-color: #f5f5f5; /* Light gray background */
  }
  

  #home {
    background: linear-gradient(rgba(0, 0, 0, 0.233),black),url(../assets/home.png);
    background-size: cover;
  }


  /* #cycle{
    background-image: url("../assets/cycles.png");
    background-size: cover;
    background-position: center;
  } */

  #cyclet{
    background-image: url("../assets/cycles.png");
    background-size: contain;
    background-position: center;
  }


  button[data-state="active"] {
    background-color: rgb(234 179 8 ) !important;
    
  }

  #alert {
    z-index: 1;
  }

  #ride{
    background-image: url("../assets/cycles.png");
    background-size: cover;
    background-position: center;
  }